.botao-grande {
    font-size: 16px; /* Tamanho da fonte */
    padding: 25px 25px; /* Espaçamento interno */
}

// .testando {
//     background-color: blue;
// }

.colorLogin {
    background-color: #97D2D4 !important; /* Cor de fundo personalizada */
    color: #FFFFFF !important; /* Cor do texto personalizada */
}

.colorCadastro {
    background-color: #1F2937 !important;
    color: #FFFFFF !important;
}