.botao-grande {
    font-size: 16px; /* Tamanho da fonte */
    padding: 25px 25px; /* Espaçamento interno */
}

.colorLogin {
    background-color: #97D2D4 !important; /* Cor de fundo personalizada */
    color: #FFFFFF !important; 
    font-family: 'Orbitron', sans-serif;
}

.colorCadastro {
    background-color: #10083F !important;
    color: #FFFFFF !important;
    font-family: 'Orbitron', sans-serif;
}