<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <main>
      <!-- <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile class="colorInitial">
          salve
        </mat-grid-tile>
        <mat-grid-tile class="colorSecond">2</mat-grid-tile>
      </mat-grid-list> -->
      <div class="container-fluid">
        <div class="row">
            <!-- Divisão esquerda com uma cor de fundo -->
            <div class="col-md-6 colorInitial text-center py-5 d-flex-center">
                <!-- Insira seu logo aqui -->
                <div>
                  <div>
                    <img src="../assets/logo-preta1.png" alt="Seu Logo" class="img-fluid">
                  </div>
                  <div>
                    <h2 class="font-weight-bold mt-3 p-3 text-justify fontOrbitron">
                      salve e classifique seus albums favoritos
                    </h2>
                    <!-- <p>salve e classifique seus albums favoritos</p>   -->
                  </div>
                </div>
            </div>
            
            <!-- Divisão direita com outra cor de fundo -->
            <div class="col-md-6 colorSecond text-center py-5 d-flex-center">
                <!-- Dois botões -->
                <div>
                  <div>
                    <h2 class="text-white font-weight-bold fontOrbitron">
                      Seja bem-vindo 
                      O que deseja fazer?
                    </h2>
                  </div>
                  <div class="button-container">
                    <div>
                      <app-button-login [routerName]="routerName" [buttonColor]="buttonColor" [nameButton]="buttonLogin"></app-button-login>
                    </div>
                    <div>
                      <app-button-login [nameButton]="buttonSing" [buttonColor]="buttonColorCadastro"></app-button-login>
                    </div>
                    <!-- <button class="btn btn-primary">Botão 1</button>
                    <button class="btn btn-danger">Botão 2</button>   -->
                  </div>
                </div>
            </div>
        </div>
    </div>
      <!-- <div class="container text-center">
        <div class="row">
          <div class="col bg-info">
            Column
          </div>
          <div class="col">
            Column
          </div>
        </div>
      </div> -->
    </main>
  </body>
</html>