.imagTamanho {
    width: 240px;
    height: auto; 
    margin-top: 5px;
}

.fonts {
    font-family: 'Poppins', sans-serif;
    font-weight: bold
}


.botao-grande {
    font-size: 16px; 
    padding: 20px 88px; 
}

.buttonColor {
    background-color: #06243F !important;
    color: #FFFFFF !important; 
    font-family: 'Orbitron', sans-serif;
}

.custom-form-field .mat-form-field-label {
    font-size: 100px; 
}

.custom-form-field  {
    // font-size: 18px; 
    padding: 5px;  
    width: 300px    
}