<body>
    <main>
        <mat-toolbar class="mt-2 editMenu">
            <mat-toolbar-row>
                <div class="testes">
                    <span class="colorMenu p-2">Home</span>
                    <!-- <span class="example-spacer p-2"></span> -->
                    <span class="colorMenu p-2">Adicionar</span>
                    <span class="colorMenu p-2">Favoritos</span>      
                </div>
            </mat-toolbar-row>
        </mat-toolbar>          
    </main>
</body>