// mat-grid-tile {
//     background: lightblue;
// }

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.colorInitial {
    background: #97D2D4;
}

.colorSecond {
    background: #1F2937;
}