<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <main>
      <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile class="colorInitial">
          salve
        </mat-grid-tile>
        <mat-grid-tile class="colorSecond">2</mat-grid-tile>
      </mat-grid-list>
    </main>
  </body>
</html>