<body>
    <header>
        <div class="d-flex justify-content-center mt-3">
            <img class="imagTamanho" src="../assets/logo-preta1.png" alt="logo">
        </div>
    </header>   
    
    <main>
        <app-menu></app-menu>
        <div class="container mt-3 mb-3">
            <div class="row d-flex justify-content-center">
                <div *ngFor="let album of albumFinalService()" class="col-3 m-3" [ngClass]="{'classe-escondida': album.userId != idUserLogin}">
                    <mat-card  class="example-card">
                        <img mat-card-image src="{{album.album_image}}" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{album.name_album}}</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            <button mat-button color="warn" (click)="openModal(album.id)">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                            <button (click)="datailAlbum(album.id)" mat-button color="primary">
                                <i class="fa-solid fa-circle-info"></i>
                            </button>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </main>
</body>