<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <div class="d-flex justify-content-center">
                <img class="imagTamanho" src="../assets/logo-preta1.png" alt="logo">
            </div>
            <div class="text-center">
                <h1 class="fonts" >Olá! Realize seu cadastro aqui</h1>    
            </div>
        </header>
        <main>
            <div class="container ">
                    <div class="format">
                        <form [formGroup]="meuForm">
                            <div class="col">
                                <p>
                                    <mat-form-field  class="custom-form-field" appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput class="custom-input" [(ngModel)]="user!!.email" formControlName="email" placeholder="Seu email">
                                        <mat-error *ngIf="meuForm.get('email')?.hasError('required')">Campo obrigatório</mat-error>
                                        <mat-error *ngIf="meuForm.get('email')?.hasError('pattern')">Endereço de e-mail inválido</mat-error>
                                    </mat-form-field>
                                </p>
                            </div>
    
                            <div class="col">
                                <p>
                                    <mat-form-field class="custom-form-field" appearance="outline">
                                        <mat-label>Nome de usuario</mat-label>
                                        <input matInput class="custom-input" [(ngModel)]="user!!.username" placeholder="Seu nome"  formControlName="username">
                                        <mat-error *ngIf="meuForm.get('username')?.hasError('required')">Campo obrigatório</mat-error>
                                    </mat-form-field>
                                </p>
                            </div>
    
                           <div class="col">
                                <p>
                                    <mat-form-field class="custom-form-field" appearance="outline">
                                        <mat-label>Enter your password</mat-label>
                                        <input matInput class="custom-input" [(ngModel)]="user!!.password" [type]="hide ? 'password' : 'text'"  formControlName="password">
                                        <mat-error *ngIf="meuForm.get('password')?.hasError('required')">Campo obrigatório</mat-error>
                                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </p>
                           </div>
                           
            
                           <div class="format-button">
                                <button mat-raised-button   
                                [disabled]="meuForm.invalid" (click)="submitForm()" [ngClass]="meuForm.invalid ? 'buttonDisable': 'buttonColor'" class="botao-grande">
                                    Cadastrar
                                </button>
                           </div>
                        </form>
                        
                    </div>
              </div>
        </main>
    </body>
</html>